@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

/* text styling */
h1{ 
    font-family: 'Press Start 2P', cursive;  
}

h2{    
    font-family: 'Roboto', sans-serif;    
    font-weight: 400;
    color: rgba(67, 165, 207, 0.6);
    background:rgba(0,0,0,0.6);
}



/* Body styling */
body{
    background-image: url("../images/space.jpg");
}

/* header section*/
header{
    text-align: center;
}

/* Card section */
.card{
    border: 2px solid rgb(226, 5, 5);
    height: 125px;
    background: rgb(105, 102, 102);
    margin: 5px;
    border-radius: 10px;
}

.ackbar{
    border: 2px solid rgb(226, 5, 5);
    height: 125px;
    background: white;
    background-image:url("images/ackbar.png");
    margin: 5px;
    border-radius: 10px;
}

.boba{
    border: 2px solid rgb(226, 5, 5);
    height: 125px;
    background: white;
    background-image:url("images/boba.png");
    margin: 5px;
    border-radius: 10px;
}

.chewy{
    border: 2px solid rgb(226, 5, 5);
    height: 125px;
    background: white;
    background-image:url("images/chewy.png");
    margin: 5px;
    border-radius: 10px;
}

.cpo{
    border: 2px solid rgb(226, 5, 5);
    height: 125px;
    background: white;
    background-image:url("images/cpo.png");
    margin: 5px;
    border-radius: 10px;
}

.lando{
    border: 2px solid rgb(226, 5, 5);
    height: 125px;
    background: white;
    background-image:url("images/lando.png");
    margin: 5px;
    border-radius: 10px;
}

.leai{
    border: 2px solid rgb(226, 5, 5);
    height: 125px;
    background: white;
    background-image:url("images/leia.png");
    margin: 5px;
    border-radius: 10px;
}

.luke{
    border: 2px solid rgb(226, 5, 5);
    height: 125px;
    background: white;
    background-image:url("images/luke.png");
    margin: 5px;
    border-radius: 10px;
}

.obi{
    border: 2px solid rgb(226, 5, 5);
    height: 125px;
    background: white;
    background-image:url("images/obi.png");
    margin: 5px;
    border-radius: 10px;
}

.r2{
    border: 2px solid rgb(226, 5, 5);
    height: 125px;
    background: white;
    background-image:url("images/r2.png");
    margin: 5px;
    border-radius: 10px;
}

.solo{
    border: 2px solid rgb(226, 5, 5);
    height: 125px;
    background: white;
    background-image:url("images/solo.png");
    margin: 5px;
    border-radius: 10px;
}

.vader{
    border: 2px solid rgb(226, 5, 5);
    height: 125px;
    background: white;
    background-image:url("images/vader.png");
    margin: 5px;
    border-radius: 10px;
}

.yoda{
    border: 2px solid rgb(226, 5, 5);
    height: 125px;
    background: white;
    background-image:url("images/yoda.png");
    margin: 5px;
    border-radius: 10px;
}
/* counter */
.score{
    border: 3px solid red;   
    border-radius: 10px;    
    color: rgb(255, 251, 0); 
    height: 100px;    
    background: rgb(105,102,102);
    margin: 5px; 
    text-align: center;
}

.score h1{
    line-height: 100px;
}

/* button styling */
.button{
    border: 2px solid rgb(105, 102, 102);
    padding: 3px;
    font-size: 20px;
    color: rgb(235, 20, 20);
    border-radius: 5px;
    background:rgba(0,0,0,1); 
    min-width: 80px;
    margin: 5px;    
}

.button:hover{
    background: rgb(68, 66, 66);
    text-decoration: none;
}

.controls, .facts{
    text-align: center;
}

/* modal section */
.modal{ 
    border: 3px solid red; 
    height: 270px;
    border-radius: 10px;
    background-color:rgba(0,0,0,0.8);  
    width: 350px;
    margin: 0 auto;  
    position: absolute;
    top: 275px;
    text-align: center;   
}

.modal-content{
    color: white;  
    display: inline;       
    background: transparent;
    letter-spacing: px;
}

#easy{
    margin: 0;
}

input {
    margin-left: 35px;
        
}

/* Footer section */

.footer{    
    height: 60px;
    background-color: rgba(105,102,102,0.5);         
}

/* @media screen section */

@media screen and (max-width: 768px){
  .card, .vader, .yoda, .luke, .boba, .r2, .cpo, .solo, .chewy, .obi, .leia, .ackbar, .lando{
      height: 100px;
  }
   
}

@media screen and (max-width: 576px){
    .card, .vader, .yoda, .luke, .boba, .r2, .cpo, .solo, .chewy, .obi, .leia, .ackbar, .lando{
        height: 75px; 
    }
    .score{
        height: 75px;      
    }
    .score h1{
        line-height: 75px;
    }    
}